<% provide(:title, "Login") %>
<h1>Login</h1>
<div class="container">
  <div class="row">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
  </div>
  <div class="row">
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="row">
        <%= f.text_field :email, placeholder: "email", class: 'login-form', placeholder: 'email' %>
      </div>
      <div class="row">
        <%= f.password_field :password, placeholder: "password", class: 'login-form', placeholder: 'password' %>
      </div>
      <div class="row">
        <%= f.submit "Send" %>
      </div>
    <% end %>
  </div>
  <div class="row">
    Not suscribed? <%= link_to "Suscribe", signup_path %></p>
  </div>
</div>
