<% if !@video.nil? %>
  <div class="container video-info-container">
    <div class="row subc-row" id="video-container">
      <div id="zype_<%= @vid_id %>" class="zype-video-player">
      </div>
      <script src="https://player.zype.com/embed/<%= @vid_id %>.js?autoplay=true&app_key=<%= ENV["app_key"] %>" type="text/javascript">
      </script>
    </div>
    <div class="row subc-row">
      <h4 class="row-title">Title: </h4>
    </div>
    <div class="row subc-row">
      <%= @video["title"] %>
    </div>
    <div class="row subc-row">
      <h4 class="row-title">Description: </h4>
    </div>
    <div class="row subc-row">
      <%= @video["description"] %>
    </div>
  </div>
<% end %>
